@use 'sass:color';
@import '../../styles/colors.scss';

.container {
    // display: flex;

    display: inline-block;
    position: relative;
    padding-top: 1rem;
    padding-left: 5px;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid color.adjust($gbc-black, $alpha: -.4);
    background-color: color.adjust($gbc-black, $alpha: -.93);
    min-width: 250px;
    label {
        position: absolute;
        left: 6px;
        cursor: text;
        text-transform: capitalize;
    }
    input {
        max-width: 120px;
        margin-right: 1;
        font-size: 1rem;
        border: 0;
        padding: 5px 10px 5px 0;
        background-color: transparent;
        min-width: 100%;
        &:focus {
            outline: none;
        }
    }
}

.datePickerContainer {
    max-width: fit-content;
    label, h4 {
        text-transform: capitalize;
    }
}

.fullWidth {
    min-width: 100%;
}

.errorText {
    padding-top: 3px;
    font-size: .8rem;
    position: absolute;
}

.errorState {
    border-bottom-color: $negative;
    label {
        color: $negative;
    }
    .errorText {
        color: $negative;
    }
}
