@use 'sass:color';
@import '../../styles/colors.scss';

.container {
    display: inline-block;
    position: relative;
    padding-top: .35rem;
    padding-bottom: .35rem;
    padding-left: 5px;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid color.adjust($gbc-black, $alpha: -.4);
    background-color: color.adjust($gbc-black, $alpha: -.93);
    min-width: 250px;
    label {
        position: absolute;
        font-size: 12px;
        top: 5px;
        left: 6px;
        pointer-events: none;
        text-transform: capitalize;
    }
    select {
        width: 100%;
        font-size: .95rem;
        background-color: transparent;
        appearance: none;
        border: 0;
        padding-right: 1rem;
        padding-top: 1rem;
        &:focus {
            outline: none;
        }
    }
    .downArrow {
        position: absolute;
        right: .3rem;
        bottom: .1rem;
        width: 1rem;
        pointer-events: none;
    }
}

.fullWidth {
    min-width: 100%;
}

.errorText {
    padding-top: 3px;
    font-size: .8rem;
    position: absolute;
}

.errorState {
    border-bottom-color: $negative;
    label {
        color: $negative;
    }
    .errorText {
        color: $negative;
    }
}
