@use 'sass:color';
@import '../../styles/colors.scss';

.container {
    display: inline-block;
    position: relative;
    padding-top: 1rem;
    padding-left: 5px;
    border-radius: 3px 3px 0 0;
    border-bottom: 2px solid color.adjust($gbc-black, $alpha: -.4);
    background-color: color.adjust($gbc-black, $alpha: -.93);
    min-width: 250px;
    max-width: 250px;
    label {
        position: absolute;
        left: 6px;
        cursor: text;
        text-transform: capitalize;
    }
    .textContainer {
        width: 100%;
        display: grid;
        .textDisplay {
            white-space: pre-wrap;
            visibility: hidden;
        }
        textarea {
            resize: none;
            overflow: hidden;
        }

        textarea, .textContainer, .textDisplay {
            font-size: 1rem;
            border: 0;
            padding: 5px 10px 5px 0;
            background-color: transparent;
            min-width: 100%;
            font-family: inherit;
            grid-area: 1 / 1 / 2 / 2;
            &:focus {
                outline: none;
            }
        }
    }
}

.fullWidth {
    min-width: 100%;
    max-width: 100%;
}

.errorText {
    padding-top: 3px;
    font-size: .8rem;
    position: absolute;
}

.errorState {
    border-bottom-color: $negative;
    label {
        color: $negative;
    }
    .errorText {
        color: $negative;
    }
}
