.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.fieldContainer {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}