@use 'sass:color';
@import '../styles/colors.scss';
@import '../styles/fonts.scss';

.missionContainer {
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.missionStatement {
    background-color: $gbc-red;
    background-image: url(../assets/city-skyline-red.svg), url(..//assets/bank-note.svg);
    background-repeat: no-repeat, repeat;
    background-size: contain, 50px 10px;
    background-position: bottom;
    min-height: 300px;
    text-align: center;
    padding: 18px;
    font-family: $alt-goth;
    font-size: 2rem;
    color: $white;
    line-height: 1.9rem;
    width: 100%;
    flex: 1.2;
}

.missionEvents {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.whatWeDoHeader {
    color: $white;
    font-size: 4rem;
    font-family: $alt-goth;
    text-align: center;
    margin-bottom: 40px;
}

.whatWeDoContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.whatWeDoMainContent {
    width: 45%;
    margin-left: 12px;
    padding-bottom: 20px;
    .WhatWeDoSubtitle {
        color: $white;
        font-family: $alt-goth;
        text-transform: uppercase;
        font-size: 2rem;
        span {
            color: $gbc-red;
        }
    }
    p {
        color: color.adjust($color: $white, $alpha: -.2);
    }
}

.whatWeDoList {
    padding-bottom: 40px;
    width: 45%;
}

.whoWeAreContainer {
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .whoWeAreTitle {
        width: 100%;
        text-align: center;
        margin: 40px 0;
        font-family: $alt-goth;
        font-size: 5rem;
        color: $gbc-red;
    }
    .whoWeAreItem {
        width: 33%;
        padding: 16px;
        // line-height: 2;
        font-size: 2rem;
        color: $gbc-black;
        font-family: $alt-goth;
        text-transform: uppercase;
    }
}

.upcomingEventsContainer {
    background: #E6E8F0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 40px;
    .upcomingEventsTitle {
        width: 100%;
        text-align: center;
        padding-bottom: 24px;
        font-family: $alt-goth;
        font-size: 3rem;
        color: $gbc-black;
    }
    .seeAllEvents {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding-top: 16px;
    }
}

.volunteerOpportunitiesContainer {
    min-height: 300px;
    text-align: center;
    padding-top: 32px;
    h3 {
        color: $gbc-black;
        font-size: 2.5rem;
    }
    .opportunityInnerContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .opportunity {
        padding-bottom: 40px;
        max-width: 250px;
        div {
            min-height: 180px;
            max-width: 120px;
            margin: 32px auto 0 auto;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom;
        }
        h4 {
            font-size: 1.8rem;
        }
        p {
            margin-top: 16px;
        }
    }
}

@media all and (max-width: 768px) {
    
    .missionContainer {
        flex-flow: column;
    }
    
    .missionEvents {
        margin-left: 40px;
        width: calc(100% - 40px);
        border-left: 1px dashed $gbc-red;
    }
    
    .whatWeDoContainer {
        flex-flow: column;
    }
    
    .whatWeDoMainContent {
        width: 100%;
    }
    
    .whatWeDoList {
        padding-top: 20px;
        width: 100%;
        left: -20px;
        border: 0;
        position: relative;
    }

    .whoWeAreContainer {
        flex-flow: column;
        .whoWeAreItem {
            width: 100%;
            text-align: center;
        }
    }

}

