@import '../../../styles/colors.scss';

.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.childContainer {
    background-color: $white;
    padding: 1.5rem;
    border-radius: 3px;
}