@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.container {
    position: relative;
    font-family: $alt-goth;
    font-size: 1.7rem;
    margin-right: 1.7em;
    color: $gbc-red;
    width: fit-content;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.childrenContainer {
    position: absolute;
    width: fit-content;
    background-color: $white;
}

.paperContainer {
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.navigationLinks {
    min-height: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    cursor: pointer;
}