.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65);
}

.noScroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 1001;
}

.child {
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 1002;
}