@import '../../styles/colors.scss';

.container {
    border-radius: 50px;
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: $gbc-red;
    color: $white;
    span {
        position: relative;
        top: 8px;
    }
    img {
        width: 36px;
        border-radius: 50px;
        background-color: $gbc-black;
    }
}